@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap') ;

body {
  box-sizing: border-box;
  color: #0a0908;
  font-family: League Spartan , sans-serif;
  margin: 0;
  padding: 0;
}

.container-col {
  display: flex;
  flex-direction: column;
}

.neither {
  background-color: white;
  border: 1px black solid;
  margin: 10px;
  padding: 5px;
}

.right {
  border: 3px solid rgb(6, 240, 15);
  font-weight: 900;
  margin: 10px;
  padding: 3px;
}

.wrong {
  border: 3px solid red;
  margin: 10px;
  padding: 3px;
}

header {
  align-items: center;
  background-color: #49111c;
  box-shadow: rgba(0, 0, 0, 0.6) 0 5px 10px;
  color: #f2f4f3;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
}

.login-box {
  align-items: center;
  background-color: #49111c;
  box-shadow: rgba(0, 0, 0, 0.6) 0 5px 10px;
  color: #f2f4f3;
  justify-content: center;
  margin: 25vh auto;
  max-width: 40vw;
  padding: 20px;
  text-align: center;
}

.login-box form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.login-box input {
  height: 20px;
  width: 20vw;
}

.login-box button {
  width: 20vw;
}

.triviaGame {
  display: flex;
  flex-direction: column;
}

.trivia {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.trivia button {
  font-size: medium;
  height: 50px;
  min-width: 60vw;
}

.trivia button:hover {
  background-color: yellow;
  border: 1px blue solid;
}

.trivia button:disabled {
  color: #0a0908;
}

.triviaHeader {
  margin-top: 20px;
  text-align: center;
}

.triviaHeader h1 {
  font-size: x-large;
}

.nextQuestion {
  margin-top: 30px;
  text-align: center;
}

.nextBtn {
  height: 30px;
  width: 40vw;
}

.contagem {
  font-size: x-large;
}
